<mat-drawer-container>
  <mat-drawer #drawer mode="over" position="end" class="drawer">
    <div>
      <ng-container *ngTemplateOutlet="menuButtons"></ng-container>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button
          aria-label="Juanma Moreno Sánchez"
          mat-button
          [routerLink]="['/']"
        >
          Juanma Moreno Sánchez
        </button>
        <span class="spacer"></span>

        @if(!mobileMenu()) {
        <button
          aria-expanded="false"
          aria-controls="menu"
          mat-icon-button
          (click)="drawer.toggle()"
          aria-label="Toggle menu"
        >
          <mat-icon>menu</mat-icon>
        </button>
        } @else {
        <ng-container *ngTemplateOutlet="menuButtons"></ng-container>
        }
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-drawer-content>
</mat-drawer-container>

<ng-template #menuButtons>
  <button
    attr.aria-label="{{ 'paintings' | translate }}"
    mat-button
    [matMenuTriggerFor]="paintingMenu"
  >
    {{ "paintings" | translate }}
  </button>
  <button
    attr.aria-label="{{ 'menu.about' | translate }}"
    mat-button
    [routerLink]="['/about']"
  >
    {{ "menu.about" | translate }}
  </button>
  <button aria-label="CV" mat-button [routerLink]="['/cv']">CV</button>
  <button
    attr.aria-label="{{ 'menu.contact' | translate }}"
    mat-button
    [routerLink]="['/contact']"
  >
    {{ "menu.contact" | translate }}
  </button>
  <button aria-label="Language switcher" mat-button (click)="changeLanguage()">
    {{ currentLang }}
  </button>
</ng-template>

<mat-menu #paintingMenu="matMenu">
  <button
    attr.aria-label="{{ 'menu.allPaintings' | translate }}"
    mat-menu-item
    routerLink="/artworks"
  >
    {{ "menu.allPaintings" | translate }}
  </button>
  <button
    attr.aria-label="{{ 'menu.byYear' | translate }}"
    mat-menu-item
    [matMenuTriggerFor]="yearsMenu"
  >
    {{ "menu.byYear" | translate }}
  </button>
</mat-menu>

<mat-menu #yearsMenu="matMenu">
  @for (year of years; track year) {
  <button
    attr.aria-label="{{ year }}"
    mat-menu-item
    [routerLink]="['/artworks']"
    [queryParams]="{ years: year }"
  >
    {{ year }}
  </button>
  }
</mat-menu>
