@if (breadcrumbs && breadcrumbs.length) {
  <div class="container">
    <mat-chip-listbox>
      <mat-chip color="primary">
        <span routerLink="/" routerLinkActive="router-link-active">
          <mat-icon>home</mat-icon>
        </span>
      </mat-chip>
      @for (breadcrumb of breadcrumbs; track breadcrumb) {
        <mat-chip color="primary">
          <span
            [routerLink]="breadcrumb.url"
            [queryParams]="breadcrumb.queryParams"
            routerLinkActive="router-link-active"
          >
            {{ breadcrumb.label }}
          </span>
        </mat-chip>
      }
      <mat-form-field class="small-input">
        <mat-select placeholder="Select a year" [ngModel]="newYear()" (ngModelChange)="handleYearChange($event)">
          <mat-option *ngFor="let year of validYears" [value]="year">
            {{ year }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-chip-listbox>
  </div>
}