<img 
  class="front-image" 
  [src]="statement.introduction.image.src" 
  [alt]="statement.introduction.image.alt" 
/>

<div class="container margin-top">
  <h1>
    Statement
    <app-pdf-button
      [downloadFileType]="downloadType"
    ></app-pdf-button>
  </h1>
  <p>{{ statement.introduction.content | translate}}</p>

  @for (section of statement.sections; track section) {
    <h2>{{ section.title | translate}}</h2>

    @if (section.content) {
      @for (paragraph of section.content; track paragraph) {
        <p innerHtml="{{ paragraph | translate}}">
        </p>
      }
    }
    @if (section.items) {
      @for (item of section.items; track item) {
        <p>
          <strong class="subtitle">{{ item.subtitle | translate }}</strong>
          <span innerHTML="{{ item.content | translate}}"></span>
        </p>
      }
    }
  }
</div>
