<!-- 
    qué quiero hacer y por qué NO PERDER ESTE NORTE
 -->
<div class="container">
    <h1>La pintura</h1>

    <p>En la pintura es donde, durante toda mi vida, he encontrado un lugar donde refugiarme y tomar distancia con respecto al día a día. Esta distancia hace que la favorezca nuevas formas, lugares, historias y colores.</p> 

    <p>Pintar es un anacronismo precioso. La pintura es una artesanía ancestral que admite tanto trabajo sobre una superficie como se le quiera dedicar, con el único límite del espacio y el tiempo. La pintura siempre está vigente, porque la pintura es un campo de conocimiento infinito. Cada autor, con el paso de los años, va encontrando en su camino pequeños hayazgos, que juntos son, de forma irremediable, únicos. Por eso la obra de un autor que ha trabajado durante años es casi siempre valiosa.</p>

    <h1>Mi pintura</h1>

    <p>Mi refugio en la pintura ha ido dando frutos diferentes a lo largo del tiempo. Hay peculiaridades de mi pintura que son constantes y transversales a la producción, y hay otras que son variables a lo largo del tiempo.</p>

    <h2>Constantes</h2>
    <mat-list>
        <mat-list-item>
            <strong>Tecnología. </strong>
            Pantallas, dispositivos móviles.
        </mat-list-item>
        <mat-list-item>
            <strong>Tradición. </strong>
            Estudio de arte del pasado. Menzel, Julio Romero de Torres.
        </mat-list-item>
        <mat-list-item>
            <strong>Elemento perturbador. </strong>

        </mat-list-item>
        <mat-list-item>
            <strong>Factor humano. </strong>
            Las bajas pasiones. La comida. El sexo. El retrato
        </mat-list-item>
    </mat-list>

    <h2>Variables</h2>
    <mat-list>
        <mat-list-item>
            <strong>Inteligencia artificial. </strong>

        </mat-list-item>
        <mat-list-item>
            <strong>Internet. </strong>
            Imágenes robadas. Estética de webcams y fotografía digital.
        </mat-list-item>
        <mat-list-item>
            <strong>Software</strong>
            
        </mat-list-item>
    </mat-list>

    <p>Resumen:
        Colisión entre un pasado analógico y artesanal y un presente digital y automatizado
    </p>

</div>

