<ng-template #navControls>
  @if (displayArrows()) {
    <button
      mat-icon-button
      aria-label="Previous image"
      matTooltip="Previous"
      matTooltipPosition="below"
      (click)="nextNft(-1)"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
    <span class="counter">{{ displayIndex() + 1 }} / {{ nfts().length }}</span>
    <button
      mat-icon-button
      aria-label="Next image"
      matTooltip="Next"
      matTooltipPosition="below"
      (click)="nextNft(1)"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  }
</ng-template>

<ng-template #fullscreenControl>
  <button
    mat-icon-button
    aria-label="Toggle fullscreen"
    [matTooltip]="isFullScreen() ? 'Exit fullscreen' : 'Fullscreen'"
    matTooltipPosition="below"
    (click)="toggleFullScreen()"
  >
    <mat-icon>{{ isFullScreen() ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
  </button>
</ng-template>

<div class="image-viewer">
  @if (!isFullScreen()) {
    <div class="viewer-toolbar" [style.width]="frameWidth()">
      <div class="toolbar-start">
        <ng-content select="[viewer-lead]"></ng-content>
      </div>
      <div class="toolbar-center">
        <ng-container [ngTemplateOutlet]="navControls"></ng-container>
        <ng-content select="[viewer-actions]"></ng-content>
        <ng-container [ngTemplateOutlet]="fullscreenControl"></ng-container>
      </div>
      <div class="toolbar-end">
        <ng-content select="[viewer-trail]"></ng-content>
      </div>
    </div>
  }

  <div
    class="image-container"
    tabindex="0"
    role="region"
    aria-label="Artwork viewer"
    (dblclick)="toggleFullScreen()"
    (keydown.arrowLeft)="nextNft(-1)"
    (keydown.arrowRight)="nextNft(1)"
  >
    <div
      #imageElement
      class="art-frame"
      [class.slide-next]="slideClass() === 'slide-next'"
      [class.slide-prev]="slideClass() === 'slide-prev'"
      (animationend)="slideClass.set('')"
      [style.aspectRatio]="aspectRatio()"
      [style.width]="frameWidth()"
    >
      <div
        class="preview-layer"
        [class.visible]="hasPreview() && !hasImage()"
        [style.backgroundImage]="previewImage()"
      ></div>

      @if (layerA() !== 'none') {
        <img
          class="art-viewer layer"
          [class.visible]="activeIsA()"
          [src]="layerA()"
          [attr.alt]="description()"
        />
      }
      @if (layerB() !== 'none') {
        <img
          class="art-viewer layer"
          [class.visible]="!activeIsA()"
          [src]="layerB()"
          [attr.alt]="description()"
        />
      }

      @if (loading()) {
        <div class="spinner" aria-hidden="true"></div>
      }

      @if (isFullScreen()) {
        <div class="viewer-toolbar overlay" (dblclick)="$event.stopPropagation()">
          <div class="toolbar-start"></div>
          <div class="toolbar-center">
            <ng-container [ngTemplateOutlet]="navControls"></ng-container>
            <ng-container [ngTemplateOutlet]="fullscreenControl"></ng-container>
          </div>
          <div class="toolbar-end"></div>
        </div>
      }
    </div>
  </div>
</div>
