<div
  class="image-viewer"
  (mouseover)="setHover(true)"
  (mouseleave)="setHover(false)"
>
  @if (displayArrows() && hovering) {
  <div class="overlay left" (click)="nextNft(-1)">
    <mat-icon class="arrow"> arrow_back </mat-icon>
  </div>
  }
  <div
    class="image-container"
    (click)="handleImageClick()"
    (dblclick)="handleDoubleClick()"
  >
    <img
      [attr.alt]="description()"
      #imageElement
      [src]="qualityImage()"
      [style.backgroundImage]="previewImage()"
      class="art-viewer"
      [attr.data-key]="isFullScreen() ? null : displayIndex()"
    />
    @if (displayExpand) {
    <mat-icon class="fullscreen-icon"> fullscreen </mat-icon>
    }
  </div>
  @if (displayArrows() && hovering) {
  <div class="overlay right" (click)="nextNft(1)">
    <mat-icon class="arrow"> arrow_forward </mat-icon>
  </div>
  }
</div>
