<div
  class="image-viewer"
  (mouseover)="setHover(true)"
  (mouseleave)="setHover(false)"
  (focus)="setHover(true)"
  (blur)="setHover(false)"
>
  @if (displayArrows() && hovering) {
  <div
    class="overlay left"
    role="button"
    tabindex="0"
    aria-label="Previous image"
    (click)="nextNft(-1)"
    (keyup.enter)="nextNft(-1)"
  >
    <mat-icon class="arrow"> arrow_back </mat-icon>
  </div>
  }
  <div
    class="image-container"
    role="button"
    tabindex="0"
    aria-label="Toggle fullscreen"
    (click)="handleImageClick()"
    (dblclick)="handleDoubleClick()"
    (keyup.enter)="handleDoubleClick()"
  >
    <div
      #imageElement
      class="art-frame blur"
      [class.loaded]="hiResLoaded() || allCandidatesFailed()"
      [class.preview-only]="allCandidatesFailed()"
      [style.backgroundImage]="previewImage()"
    >
      <img
        [attr.alt]="description()"
        [src]="qualityImage()"
        class="art-viewer"
        [class.hi-res-pending]="!hiResLoaded()"
        (load)="onHiResLoad()"
        (error)="onHiResLoadError()"
      />
    </div>
    @if (displayExpand) {
    <mat-icon class="fullscreen-icon"> fullscreen </mat-icon>
    }
  </div>
  @if (displayArrows() && hovering) {
  <div
    class="overlay right"
    role="button"
    tabindex="0"
    aria-label="Next image"
    (click)="nextNft(1)"
    (keyup.enter)="nextNft(1)"
  >
    <mat-icon class="arrow"> arrow_forward </mat-icon>
  </div>
  }
</div>
