<!-- <pre>{{ ( artPieces$ | async ) | json}}</pre> -->
<mat-card>
  <mat-card-content>
    <mat-list>
        <mat-list-item *ngFor="let artPiece of artPieces$ | async; trackBy: listTracking" (click)="handleArtPieceClick(artPiece.tokenId)">
          <img matListAvatar [src]="artPiece.media[0].thumbnail" [alt]="artPiece.description">
          <h3 matLine> {{artPiece.title}} </h3>
          <p matLine>
            <span> {{artPiece.description}} </span>
            <!-- <span class="demo-2"> -- {{message.content}} </span> -->
          </p>
        </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>