
<div [ngClass]="{'container' : !viewAsWidget()}">
  <mat-grid-list [cols]="numberOfCols()" gutterSize="10" rowHeight="1:1">
    @for (artPiece of artPieces(); track listTracking($index, artPiece)) {
      @if (displayPiece(artPiece)) {
        <mat-grid-tile (click)="handleArtPieceClick(artPiece.tokenId)">
          <mat-card>
            <img class="front-image" mat-card-image [src]="getImgThumbUrl(artPiece.image)" [alt]="artPiece.name"/>
          </mat-card>
        </mat-grid-tile>
      }
    }
  </mat-grid-list>
</div>

