<!-- <pre>{{ ( artPieces$ | async ) | json}}</pre> -->
<mat-card>
  <mat-card-content>
    <mat-list>
        <mat-list-item *ngFor="let artPiece of artPieces$ | async; trackBy: listTracking" (click)="handleArtPieceClick(artPiece.tokenId)">
          <img matListAvatar [src]="artPiece.metadata!.image" [alt]="artPiece.metadata!.description">
          <h3 matLine> {{artPiece.metadata!.name}} </h3>
          <p matLine>
            <span> {{artPiece.metadata!.description}} </span>
          </p>
        </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>