.dot {
    height: 25px;
    width: 25px;
    background-color: #cf2525;
    border-radius: 50%;
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
}

.art-piece-labels {
    padding: 10%;
    text-align: center;
    width: 100%;
}

.art-piece-desc {
    white-space: pre-line;
}