
<div class="container margin-top">
    <app-image-viewer 
      class="fit-width" 
      [nfts]="nfts()"
      (displayIndex)="indexChanged($event)"
      ></app-image-viewer>
    @if (nft()) {
      <div class="art-piece-labels">
        <h1>
          <i>{{nft().name}}. <small>{{ getViewLabel(nft()) }}</small></i>
        </h1>
        <h2>
          <small>
            <a [routerLink]="['/artworks']" [queryParams]="{ years: getTraitValue(nft(), validTraits.YEAR) }">{{ getTraitValue(nft(), validTraits.YEAR ) }}</a>,
            {{ getTraitValue(nft(), validTraits.MEDIUM ) | translate }}, {{ getTraitValue(nft(), validTraits.HEIGHT) }} x {{ getTraitValue(nft(), validTraits.WIDTH) }} {{ getTraitValue(nft(), validTraits.UNIT) }}.
            @if (sold(nft().tokenId)) {
              <span matTooltip="{{ 'sold' | translate}}" class="dot"></span>
            }
          </small>
        </h2>
        <small>
          <app-download-button 
            [link]="getQualityImg(nft().image)"
            [name]="nft().name"
          ></app-download-button>
          @if (frontalViewNft()) {
            <app-pdf-button 
              [nfts]="[frontalViewNft()!]"
            ></app-pdf-button>
          }
          <app-links-button [tokenId]="nft().tokenId">
          </app-links-button>
        </small>
      </div>
    }
  @if (nft().description?.length) {
    <div class="art-piece-desc">
      <h3>{{ getTraitValue(nft(), validTraits.PROJECT)}}</h3>
      <p>{{nft().description}}</p>
      <h4>{{ getTraitValue(nft(), validTraits.DESC_AUTHOR)}}</h4>
    </div>
  }
  @if (thereAreMoreInYear()) {
    <mat-divider></mat-divider>
    <p>
      {{ 'moreOn' | translate }} {{ getTraitValue(nft(), validTraits.YEAR)}}
    </p>
    <app-art-pieces-list
      [viewAsWidget]="true"
      [numberOfCols]="numberOfViewMoreColumns"
      [nftFilters]="getSameYearListFilter(nft())"
      (selectedTokenId)="handleSelectedItem($event)">
    </app-art-pieces-list>
  }
</div>
