<div class="container margin-top">
  <div class="fade-container" [class.fade-out]="isFading()">
    <app-image-viewer
      class="fit-width"
      [nfts]="nfts()"
      (displayIndex)="indexChanged($event)"
    ></app-image-viewer>
    @if (nft()) {
    <div class="art-piece-labels">
      <h2>
        <i
          >{{ nft().name }}. <small>{{ viewLabel() }}</small></i
        >
      </h2>
      <h3>
        <small>
          <a
            [routerLink]="['/artworks']"
            [queryParams]="{ years: nft() | trait : validTraits.YEAR }"
            >{{ nft() | trait : validTraits.YEAR }}</a
          >, {{ nft() | trait : validTraits.MEDIUM | translate }},
          {{ nft() | trait : validTraits.HEIGHT }} x
          {{ nft() | trait : validTraits.WIDTH }}
          {{ nft() | trait : validTraits.UNIT }}. @if (sold()) {
          <span matTooltip="{{ 'sold' | translate }}" class="dot"></span>
          }
        </small>
      </h3>
      <small>
        <app-download-button
          [link]="qualityImg()"
          [name]="nft().name"
        ></app-download-button>
        @if (frontalViewNft()) {
        <app-pdf-button [nfts]="[frontalViewNft()!]"></app-pdf-button>
        }
        <app-links-button [tokenId]="nft().tokenId"> </app-links-button>
      </small>
    </div>
    }
  </div>
  <!-- @if (nft().description?.length) {
    <div class="art-piece-desc">
      <h4>{{ nft() | trait: validTraits.PROJECT }}</h4>
      <p>{{nft().description}}</p>
      <h5>{{ nft() | trait: validTraits.DESC_AUTHOR }}</h5>
    </div>
  } -->
  @if (thereAreMoreInYear()) {
  <mat-divider></mat-divider>
  <p>{{ "moreOn" | translate }} {{ nft() | trait : validTraits.YEAR }}</p>
  <app-art-pieces-list
    [viewAsWidget]="true"
    [numberOfCols]="numberOfViewMoreColumns()"
    [nftFilters]="getSameYearListFilter()"
    (selectedTokenId)="handleSelectedItem($event)"
  >
  </app-art-pieces-list>
  }
</div>
