<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button [routerLink]="['/artworks']">Juanma Moreno Sánchez</button>
    <button mat-button [matMenuTriggerFor]="menu">Art</button>
    <button mat-button [routerLink]="['/about']">About</button>
    <button mat-button [routerLink]="['/cv']">CV</button>
    <button mat-button [routerLink]="['/contact']">Contact</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/artworks', year]" *ngFor="let year of years">{{year}}</button>
</mat-menu>
