<h2 mat-dialog-title>{{ 'dossier.title' | translate }}</h2>
<mat-dialog-content>
  <div class="form-group">
    <div class="pdf-options-group">
      <mat-slide-toggle [(ngModel)]="includeContact">
        {{ 'dossier.includeContact' | translate }}
      </mat-slide-toggle>
    </div>

    <div class="pdf-options-group">
      <mat-slide-toggle [(ngModel)]="includeCv">{{ 'dossier.includeCv' | translate }}</mat-slide-toggle>
    </div>

    <div class="pdf-options-group">
      <mat-slide-toggle [(ngModel)]="includeStatement">
        {{ 'dossier.includeStatement' | translate }}
      </mat-slide-toggle>
    </div>

    <div class="pdf-options-group">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'dossier.customTitle' | translate }}</mat-label>
        <input
          matInput
          [(ngModel)]="customTitle"
          [placeholder]="'dossier.customTitlePlaceholder' | translate"
        />
      </mat-form-field>
    </div>

    <div class="pdf-options-group">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'dossier.customText' | translate }}</mat-label>
        <textarea
          matInput
          rows="4"
          [(ngModel)]="customText"
          [placeholder]="'dossier.customTextPlaceholder' | translate"
        ></textarea>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button [attr.aria-label]="'cancel' | translate" mat-dialog-close>
    {{ 'cancel' | translate }}
  </button>

  <button
    mat-raised-button
    [attr.aria-label]="'download.portfolio' | translate"
    color="primary"
    [disabled]="isSubmitting"
    (click)="submit()"
  >
    {{ 'download.portfolio' | translate }}
  </button>
</mat-dialog-actions>
