<h2 mat-dialog-title>Dossier Options</h2>
<mat-dialog-content>
  <div class="form-group">
    <div class="pdf-options-group">
      <mat-slide-toggle [(ngModel)]="includeContact"
        >Include contact info</mat-slide-toggle
      >
    </div>

    <div class="pdf-options-group">
      <mat-slide-toggle [(ngModel)]="includeCv">Include CV</mat-slide-toggle>
    </div>

    <div class="pdf-options-group">
      <mat-slide-toggle [(ngModel)]="includeStatement"
        >Include Statement</mat-slide-toggle
      >
    </div>

    <div class="pdf-options-group">
      <mat-form-field appearance="outline">
        <mat-label>Custom Title</mat-label>
        <input matInput [(ngModel)]="customTitle" placeholder="Enter a title" />
      </mat-form-field>
    </div>

    <div class="pdf-options-group">
      <mat-form-field appearance="outline">
        <mat-label>Custom Text</mat-label>
        <textarea
          matInput
          rows="4"
          [(ngModel)]="customText"
          placeholder="Add custom text"
        ></textarea>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-button
    attr.aria-label="{{ 'cancel' | translate }}"
    mat-dialog-close
  >
    {{ "cancel" | translate }}
  </button>

  <button
    mat-raised-button
    attr.aria-label="{{ 'download.portfolio' | translate }}"
    color="primary"
    [disabled]="isSubmitting"
    (click)="submit()"
  >
    {{ "download.portfolio" | translate }}
  </button>
</mat-dialog-actions>
