<div class="generative">
  <canvas #canvas class="sketch-canvas" [class.hidden]="notFound()"></canvas>
  <div class="vignette" aria-hidden="true"></div>
  @if (notFound()) {
    <div class="not-found">
      <p>{{ 'generative.notFound' | translate }}</p>
    </div>
  }
  @if (soundReactive()) {
    <button
      mat-icon-button
      class="sound-toggle"
      [attr.aria-label]="(soundListening() ? 'generative.disableSound' : 'generative.enableSound') | translate"
      [matTooltip]="(soundListening() ? 'generative.disableSound' : 'generative.enableSound') | translate"
      matTooltipPosition="left"
      (click)="toggleSound()"
    >
      <mat-icon>{{ soundListening() ? 'mic' : 'mic_off' }}</mat-icon>
    </button>
    @if (soundError()) {
      <p class="sound-error">{{ 'generative.soundError' | translate }}</p>
    }
  }
</div>
