<div class="container margin-top">
  <div class="padding-sides">
    <h2>{{ 'contact.title' | translate }}</h2>
    <p [innerHtml]="'contact.representedBy' | translate"></p>
    <p [innerHtml]="'contact.contactText' | translate"></p>
  </div>

  <form [formRoot]="contactForm" (submit)="onSubmit()" class="contact-grid padding-sides">
    <mat-form-field appearance="outline" class="fit-width">
      <mat-label>{{ 'contact.name' | translate }}</mat-label>
      <input matInput [formField]="contactForm.name" />
      @if (contactForm.name().invalid()) {
        <mat-error>{{ getNameError() }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="fit-width">
      <mat-label>Email</mat-label>
      <input matInput [formField]="contactForm.email" placeholder="email@example.com" />
      @if (contactForm.email().invalid()) {
        <mat-error>{{ getEmailError() }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="fit-width contact-grid-full">
      <mat-label>{{ 'contact.message' | translate }}</mat-label>
      <textarea
        matInput
        [formField]="contactForm.message"
        placeholder="I'm interested in..."
      ></textarea>
      <mat-hint>{{ messageLength }}/256</mat-hint>
      @if (contactForm.message().invalid()) {
        <mat-error>{{ getMessageError() }}</mat-error>
      }
    </mat-form-field>

    <div class="contact-grid-full">
      <button
        mat-raised-button
        [attr.aria-label]="'submit' | translate"
        color="primary"
        [disabled]="isLoading()"
        type="submit"
      >
        {{ 'submit' | translate }}
      </button>
    </div>

    <input [formField]="contactForm.honeypot" class="hidden" type="text" />
  </form>
</div>
