body { 
    margin: 0; 
}

.front-image {
    max-width: 100%;
}

.fit-width {
    width: 100%;
}

.mat-grid-tile .mat-grid-tile-content {
    justify-content: flex-start;
    align-items: start;
}

.mat-drawer-content {
    height: 90vh !important;
}

.margin-top {
    margin-top: 5vh;
}

.padding-sides {
    padding-left: 5vh;
    padding-right: 5vh;
}

.container {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 992px) {
    .container {
        width: 970px;
     }
}
@media (max-width: 991px) {
    .container {
        margin-left: 2vw;
        margin-right: 2vw;
     }
}