body { 
    margin: 0; 
}

.front-image {
    max-width: 100%;
}

.mat-grid-tile .mat-grid-tile-content {
    justify-content: flex-start;
    align-items: start;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 90vh;
}

@media (min-width: 992px) {
    .container {
        width: 970px;
     }
}