body { 
    margin: 0; 
}

.front-image {
    max-width: 100%;
}

.mat-grid-tile .mat-grid-tile-content {
    justify-content: flex-start;
    align-items: start;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.margin-top {
    margin-top: 5dvh;
}

@media (min-width: 992px) {
    .container {
        width: 970px;
     }
}