@if (breadcrumbs().length) {
  <nav class="container" aria-label="Breadcrumb">
    <mat-chip-listbox>
      <mat-chip color="primary">
        <span>
          <a
            routerLink="/"
            routerLinkActive="router-link-active"
            class="link-as-text"
            aria-label="Home"
            matLine
          >
            <mat-icon>home</mat-icon>
          </a>
        </span>
      </mat-chip>
      @for (breadcrumb of breadcrumbs(); track breadcrumb) {
        <mat-chip
          color="primary"
          [removable]="!!breadcrumb.isYear"
          (removed)="removeYearFilter(breadcrumb.label)"
        >
          <a
            [routerLink]="breadcrumb.url"
            [queryParams]="breadcrumb.queryParams"
            [attr.aria-label]="breadcrumb.queryParams"
            routerLinkActive="router-link-active"
            class="link-as-text"
            matLine
          >
            {{ breadcrumb.label }}
          </a>
          @if (breadcrumb.isYear) {
            <button matChipRemove [attr.aria-label]="'Remove year ' + breadcrumb.label">
              <mat-icon>cancel</mat-icon>
            </button>
          }
        </mat-chip>
      }
      <mat-form-field class="small-input" appearance="fill" subscriptSizing="dynamic">
        <mat-label>{{ 'selectYear' | translate }}</mat-label>
        <mat-select
          [ngModel]="newYear()"
          (ngModelChange)="handleYearChange($event)"
          aria-label="Select year"
        >
          @for (year of validYears; track year) {
            <mat-option [value]="year">
              {{ year }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </mat-chip-listbox>
  </nav>
}
