.small-input {
  width: 10.8rem;
  margin-left: 0.8rem;
  align-self: flex-start;
  margin-top: 0.25rem;
}

.link-as-text {
  all: unset;
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  cursor: text; /* optional: makes it behave like a span on hover */
}
