<h2 mat-dialog-title>{{ "links.view" | translate }}</h2>
<div mat-dialog-content>
  <mat-list>
    <mat-list-item *ngFor="let link of data.links">
      <a mat-line [href]="link" target="_blank" rel="noopener noreferrer">
        {{
          link
            .replace("https://", "")
            .replace("http://", "")
            .replace("www.", "")
        }}
      </a>
    </mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions>
  <button
    mat-raised-button
    attr.aria-label="{{ 'close' | translate }}"
    color="primary"
    (click)="close()"
  >
    {{ "close" | translate }}
  </button>
</div>
